.Newtodoform
{
    
   /* border:2px solid green;*/
    width:100%;
    text-align:center;
   
}
.Newtodoform input
{
    padding:7px;
    background-color:rgba(6, 6, 6 ,0.2);
    outline:none;
    border:3px solid #ff6666;
    color:white;
    width:90%;
    border-radius:10px;
    height:30px;
    font-size:105%;
    padding-left:10px;
    transition:all 0.5s ease;
}
.Newtodoform input:not(:placeholder-shown)
{
    box-shadow: 0px 0px 5px 5px rgba(100, 100, 100, 0.5);
    background-color:rgba(6, 6, 6 ,0.3);
    border:3px solid #2E4053;
}
::placeholder
{
    color:white;
}
.Newtodoform button
{
    margin-top:10px;
    outline:none;
    border:2px solid yellow;
    width:120px;
    padding:10px;
    font-size:105%;
    border-radius:10px;
    background-color:yellow;
    transition:all 0.5s ease;
}
.Newtodoform button:hover
{
    background-color:#D0D3D4;
   

   border:2px solid #D0D3D4;

}
