.Todo {
    display: flex;
    margin: 0 -3rem 4px;
    padding-left:20px;
    padding-top:5px;
    padding-bottom:5px;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    text-align:left;

    
    transition: opacity 500ms ease-in-out;
  }
  .Text
  {
     /* border:2px dotted white;*/
     
  }
  .Flexbox
  {
      /*border:2px solid blue;*/
      display:flex;
      
  }
  .Edit-button
  {
      /*border:2px solid green;*/
      margin-right:10px;
  }
  .Edit-image
  {
      width:40px;
      height:40px;
  }
  .Delete-image
  {
      width:40px;
      height:40px;
  }
  .Delete-button
  {
     /* border:2px solid green;*/
  }
 .Edit-form
 {
     display:flex;
     justify-content:space-between;
    
     width:100%;
 }
 .Edit-input
 {
    padding:7px;
    background-color:rgba(6, 6, 6 ,0.2);
    outline:none;
    border:3px solid  rgba(6, 6, 6 ,0.0);
    color:white;
    width:80%;
    border-radius:10px;
    height:20px;
    font-size:100%;
    padding-left:10px;
    transition:all 0.5s ease;

 }
 .Edit-submit
 {
   
    outline:none;
    border:2px solid yellow;
    width:100px;
    padding:5px;
    font-size:105%;
    border-radius:10px;
    background-color:yellow;
    transition:all 0.5s ease;
    margin-right:5px;
    margin-left:3px;

 }
 @media(max-width:414px)
 {
     .Todo
     {
         padding-left:5px;
         text-align:left;
         font-size:80%;
     }
     .Edit-image
     {
         width:30px;
         height:30px;
     }
     .Delete-image
     {
         width:30px;
         height:30px;
     }
 }